In [1]:
import pandas as pd

In [4]:
df = pd.read_csv (r"C:\Users\NXF30487\Desktop\aaron\temp\cricketdata.csv")
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [3]:
#rename multiple columns in a list

In [5]:
df = df.rename(columns = {'Mat':'Matches', 'NO' : 'Not_Outs', 'HS' : 'Highest_InnsScore', 'BF' : 'Balls_Faced', 'SR' : 'Strike_Rate'})

In [6]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [ ]:
#checkfornullvalues

In [7]:
df.isnull().any()

Player               False
Span                 False
Matches              False
Inns                 False
Not_Outs             False
Runs                 False
Highest_InnsScore    False
Ave                  False
Balls_Faced           True
Strike_Rate           True
100                  False
50                   False
0                    False
4s                   False
6s                   False
dtype: bool

In [9]:
df[df['Balls_Faced'].isna() == 1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258,2
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107,11

In [10]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [11]:
df[df['Balls_Faced'].isna() == 1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_InnsScore, Ave, Balls_Faced, Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [12]:
df.isnull().any()

Player               False
Span                 False
Matches              False
Inns                 False
Not_Outs             False
Runs                 False
Highest_InnsScore    False
Ave                  False
Balls_Faced          False
Strike_Rate           True
100                  False
50                   False
0                    False
4s                   False
6s                   False
dtype: bool

In [13]:
df[df['Strike_Rate'].isna()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,NaN,15,19,6,258,2
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,NaN,15,14,1,107,11

In [14]:
df['Strike_Rate']= df['Strike_Rate'].fillna(0)
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [17]:
df[df['Strike_Rate'].isnull()==1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_InnsScore, Ave, Balls_Faced, Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [18]:
df.isnull().any()

Player               False
Span                 False
Matches              False
Inns                 False
Not_Outs             False
Runs                 False
Highest_InnsScore    False
Ave                  False
Balls_Faced          False
Strike_Rate          False
100                  False
50                   False
0                    False
4s                   False
6s                   False
dtype: bool

In [ ]:
#drop duplicate rows

In [28]:
df.duplicated().any()

False

In [24]:
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [25]:
df[df['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','JB Hobbs (ENG)','V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [26]:
df = df.drop_duplicates()

In [27]:
df[df['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','JB Hobbs (ENG)','V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [ ]:
# split span into start and end date

In [31]:
df['Span'].str.split('-', n=1, expand=True)

       0     1
0   1928  1948
1   2022  2023
2   2015  2016
3   1963  1970
4   1930  1954
..   ...   ...
61  1965  1981
62  2002  2014
63  1924  1934
64  1930  1938
65  1928  1934

[62 rows x 2 columns]

In [32]:
df[['Rookie_Year','Final_Year']] = df['Span'].str.split('-', n=1, expand=True)
df

C:\Users\NXF30487\AppData\Local\Temp\1\ipykernel_26264\3451544764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Rookie_Year','Final_Year']] = df['Span'].str.split('-', n=1, expand=True)
C:\Users\NXF30487\AppData\Local\Temp\1\ipykernel_26264\3451544764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Rookie_Year','Final_Year']] = df['Span'].str.split('-', n=1, expand=True)

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [ ]:
#drop span column

In [34]:
df = df.drop(columns = 'Span')
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [ ]:
#separate country from players

In [35]:
df['Player'].str.split('(', n=2, expand=True)

               0        1
0    DG Bradman      AUS)
1      HC Brook      ENG)
2      AC Voges      AUS)
3    RG Pollock       SA)
4    GA Headley       WI)
..           ...      ...
61   KD Walters      AUS)
62     GC Smith   ICC/SA)
63  WH Ponsford      AUS)
64    SJ McCabe      AUS)
65   DR Jardine      ENG)

[62 rows x 2 columns]

In [36]:
df[['Players','Country']] = df['Player'].str.split('(', n=2, expand=True)
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,DG Bradman,AUS)
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,HC Brook,ENG)
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS)
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,RG Pollock,SA)
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,GA Headley,WI)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,KD Walters,AUS)
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA)
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,WH Ponsford,AUS)
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,SJ McCabe,AUS)
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,DR Jardine,ENG)

In [38]:
df['Country'] = df['Country'].str.strip(')')

In [39]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,DG Bradman,AUS
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,HC Brook,ENG
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,RG Pollock,SA
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,GA Headley,WI

In [42]:
df.head()

,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,DG Bradman,AUS
1,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,HC Brook,ENG
2,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
3,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,RG Pollock,SA
4,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,GA Headley,WI

In [43]:
desired_order = ['Players','Country','Matches','Inns','Not_Outs','Runs','Highest_InnsScore','Ave','Balls_Faced','Strike_Rate','100','50','0','4s','6s','Rookie_Year','Final_Year']

In [44]:
df = df[desired_order]

In [45]:
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [ ]:
#change data types

In [46]:
df.dtypes

Players               object
Country               object
Matches                int64
Inns                   int64
Not_Outs               int64
Runs                   int64
Highest_InnsScore     object
Ave                  float64
Balls_Faced           object
Strike_Rate           object
100                    int64
50                     int64
0                      int64
4s                     int64
6s                     int64
Rookie_Year           object
Final_Year            object
dtype: object

In [50]:
df['Highest_InnsScore'].str.replace('*','')

0     334
1     186
2     269
3     274
4     270
     ...
61    250
62    277
63    266
64    232
65    127
Name: Highest_InnsScore, Length: 62, dtype: object

In [51]:
df['Highest_InnsScore'] = df['Highest_InnsScore'].str.replace('*','')
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [55]:
df['Highest_InnsScore'] = df['Highest_InnsScore'].astype('int')

In [56]:
df.dtypes

Players               object
Country               object
Matches                int64
Inns                   int64
Not_Outs               int64
Runs                   int64
Highest_InnsScore      int32
Ave                  float64
Balls_Faced           object
Strike_Rate           object
100                    int64
50                     int64
0                      int64
4s                     int64
6s                     int64
Rookie_Year           object
Final_Year            object
dtype: object

In [59]:
df = df.astype({'Rookie_Year':'int', 'Final_Year':'int'})

In [63]:
df['Matches'] = df['Matches'].astype('int')

In [67]:
df['Balls_Faced'] = df['Balls_Faced'].str.replace('+','')

In [69]:
df.head()

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954

In [72]:
df['Balls_Faced'].isna().any()

True

In [73]:
df.isnull().any()

Players              False
Country              False
Matches              False
Inns                 False
Not_Outs             False
Runs                 False
Highest_InnsScore    False
Ave                  False
Balls_Faced           True
Strike_Rate          False
100                  False
50                   False
0                    False
4s                   False
6s                   False
Rookie_Year          False
Final_Year           False
dtype: bool

In [74]:
df[df['Balls_Faced'].isna() == 1]

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
9,ED Weekes,WI,48,81,5,4455,207,58.61,NaN,0,15,19,6,258,2,1948,1958
17,CL Walcott,WI,44,74,7,3798,220,56.68,NaN,0,15,14,1,107,11,1948,1960

In [87]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [85]:
df['Players'] = df['Players'].str.strip()

In [89]:
df[df['Players'].isin(['CL Walcott','ED Weekes'])]

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,0,15,19,6,258,2,1948,1958
17,CL Walcott,WI,44,74,7,3798,220,56.68,0,0,15,14,1,107,11,1948,1960

In [90]:
df['Balls_Faced'].astype('int')

ValueError: invalid literal for int() with base 10: '-'

In [91]:
pd.set_option('display.max_rows',None)

In [92]:
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,0,15,19,6,258,2,1948,1958
10,WR Hammond,ENG,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947
11,SPD Smith,AUS,105,187,23,9514,239,58.01,17777,53.51,32,40,9,1042,53,2010,2024
12,GS Sobers,WI,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930
17,CL Walcott,WI,44,74,7,3798,220,56.68,0,0,15,14,1,107,11,1948,1960
18,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955
19,JH Kallis,ICC/SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929
21,KS Williamson,NZ,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023
22,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973
23,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
24,GS Chappell,AUS,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984
25,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951
26,SR Tendulkar,IND,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013
27,DJ Mitchell,NZ,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023
28,BC Lara,ICC/WI,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006
29,M Labuschagne,AUS,46,82,6,3996,215,52.57,7572,52.77,11,19,4,449,12,2018,2024
30,Javed Miandad,PAK,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993
31,R Dravid,ICC/IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
35,J Ryder,AUS,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929
36,A Flower,ZIM,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
38,S Chanderpaul,WI,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015
39,SM Gavaskar,IND,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
41,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
42,AB de Villiers,SA,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018
43,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994
44,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023
45,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991
46,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957
47,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
48,Inzamam-ul-Haq,ICC/PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
49,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963
50,CP Mead,ENG,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928
51,V Sehwag,ICC/IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013
52,Abid Ali,PAK,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021
53,V Kohli,IND,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024
55,MJ Clarke,AUS,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015
56,KC Bland,SA,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966
57,B Mitchell,SA,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949
58,Hon.FS Jackson,ENG,20,33,4,1415,144,48.79,-,-,5,6,3,51,0,1893,1905
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [94]:
df['Balls_Faced'] = df['Balls_Faced'].str.replace('-','0')
df['Strike_Rate'] = df['Strike_Rate'].str.replace('-','0')
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968
9,ED Weekes,WI,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258,2,1948,1958
10,WR Hammond,ENG,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947
11,SPD Smith,AUS,105,187,23,9514,239,58.01,17777,53.51,32,40,9,1042,53,2010,2024
12,GS Sobers,WI,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930
17,CL Walcott,WI,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107,11,1948,1960
18,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955
19,JH Kallis,ICC/SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929
21,KS Williamson,NZ,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023
22,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973
23,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
24,GS Chappell,AUS,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984
25,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951
26,SR Tendulkar,IND,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013
27,DJ Mitchell,NZ,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023
28,BC Lara,ICC/WI,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006
29,M Labuschagne,AUS,46,82,6,3996,215,52.57,7572,52.77,11,19,4,449,12,2018,2024
30,Javed Miandad,PAK,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993
31,R Dravid,ICC/IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
35,J Ryder,AUS,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929
36,A Flower,ZIM,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
38,S Chanderpaul,WI,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015
39,SM Gavaskar,IND,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
41,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
42,AB de Villiers,SA,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018
43,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994
44,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023
45,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991
46,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957
47,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
48,Inzamam-ul-Haq,ICC/PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
49,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963
50,CP Mead,ENG,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928
51,V Sehwag,ICC/IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013
52,Abid Ali,PAK,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021
53,V Kohli,IND,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024
55,MJ Clarke,AUS,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015
56,KC Bland,SA,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966
57,B Mitchell,SA,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949
58,Hon.FS Jackson,ENG,20,33,4,1415,144,48.79,0,0,5,6,3,51,0,1893,1905
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [96]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [97]:
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,NaN,15,19,6,258,2,1948,1958
10,WR Hammond,ENG,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947
11,SPD Smith,AUS,105,187,23,9514,239,58.01,17777,53.51,32,40,9,1042,53,2010,2024
12,GS Sobers,WI,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930
17,CL Walcott,WI,44,74,7,3798,220,56.68,0,NaN,15,14,1,107,11,1948,1960
18,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955
19,JH Kallis,ICC/SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929
21,KS Williamson,NZ,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023
22,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973
23,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
24,GS Chappell,AUS,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984
25,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951
26,SR Tendulkar,IND,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013
27,DJ Mitchell,NZ,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023
28,BC Lara,ICC/WI,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006
29,M Labuschagne,AUS,46,82,6,3996,215,52.57,7572,52.77,11,19,4,449,12,2018,2024
30,Javed Miandad,PAK,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993
31,R Dravid,ICC/IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
35,J Ryder,AUS,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929
36,A Flower,ZIM,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
38,S Chanderpaul,WI,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015
39,SM Gavaskar,IND,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
41,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
42,AB de Villiers,SA,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018
43,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994
44,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023
45,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991
46,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957
47,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
48,Inzamam-ul-Haq,ICC/PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
49,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963
50,CP Mead,ENG,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928
51,V Sehwag,ICC/IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013
52,Abid Ali,PAK,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021
53,V Kohli,IND,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024
55,MJ Clarke,AUS,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015
56,KC Bland,SA,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966
57,B Mitchell,SA,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949
58,Hon.FS Jackson,ENG,20,33,4,1415,144,48.79,0,0,5,6,3,51,0,1893,1905
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [98]:
df['Strike_Rate'] = df['Strike_Rate'].fillna(0)

In [99]:
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,0,15,19,6,258,2,1948,1958
10,WR Hammond,ENG,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947
11,SPD Smith,AUS,105,187,23,9514,239,58.01,17777,53.51,32,40,9,1042,53,2010,2024
12,GS Sobers,WI,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930
17,CL Walcott,WI,44,74,7,3798,220,56.68,0,0,15,14,1,107,11,1948,1960
18,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955
19,JH Kallis,ICC/SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929
21,KS Williamson,NZ,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023
22,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973
23,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
24,GS Chappell,AUS,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984
25,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951
26,SR Tendulkar,IND,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013
27,DJ Mitchell,NZ,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023
28,BC Lara,ICC/WI,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006
29,M Labuschagne,AUS,46,82,6,3996,215,52.57,7572,52.77,11,19,4,449,12,2018,2024
30,Javed Miandad,PAK,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993
31,R Dravid,ICC/IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
35,J Ryder,AUS,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929
36,A Flower,ZIM,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
38,S Chanderpaul,WI,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015
39,SM Gavaskar,IND,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
41,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
42,AB de Villiers,SA,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018
43,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994
44,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023
45,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991
46,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957
47,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
48,Inzamam-ul-Haq,ICC/PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
49,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963
50,CP Mead,ENG,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928
51,V Sehwag,ICC/IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013
52,Abid Ali,PAK,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021
53,V Kohli,IND,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024
55,MJ Clarke,AUS,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015
56,KC Bland,SA,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966
57,B Mitchell,SA,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949
58,Hon.FS Jackson,ENG,20,33,4,1415,144,48.79,0,0,5,6,3,51,0,1893,1905
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [101]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [102]:
df['Strike_Rate'] = df['Strike_Rate'].astype('float')

In [105]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [106]:
df.dtypes

Players               object
Country               object
Matches                int32
Inns                   int64
Not_Outs               int64
Runs                   int64
Highest_InnsScore      int32
Ave                  float64
Balls_Faced            int32
Strike_Rate          float64
100                    int64
50                     int64
0                      int64
4s                     int64
6s                     int64
Rookie_Year            int32
Final_Year             int32
dtype: object

In [ ]:
#Create a new career length column

In [107]:
df['Career_length'] = df['Final_Year'] - df['Rookie_Year']

In [108]:
df

,Players,Country,Matches,Inns,Not_Outs,Runs,Highest_InnsScore,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Career_length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,1
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7
4,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,24
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,11
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,8
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,13
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,10
10,WR Hammond,ENG,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,20
11,SPD Smith,AUS,105,187,23,9514,239,58.01,17777,53.51,32,40,9,1042,53,2010,2024,14
12,GS Sobers,WI,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,20
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,22
17,CL Walcott,WI,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,12
18,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,18
19,JH Kallis,ICC/SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,18
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,8
21,KS Williamson,NZ,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023,13
22,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,5
23,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,2
24,GS Chappell,AUS,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,14
25,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,16
26,SR Tendulkar,IND,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,24
27,DJ Mitchell,NZ,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023,4
28,BC Lara,ICC/WI,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,16
29,M Labuschagne,AUS,46,82,6,3996,215,52.57,7572,52.77,11,19,4,449,12,2018,2024,6
30,Javed Miandad,PAK,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,17
31,R Dravid,ICC/IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,16
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,12
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,17
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,17
35,J Ryder,AUS,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,9
36,A Flower,ZIM,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,10
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,8
38,S Chanderpaul,WI,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,21
39,SM Gavaskar,IND,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,16
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,19
41,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,15
42,AB de Villiers,SA,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,14
43,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,16
44,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023,11
45,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,17
46,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,20
47,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,17
48,Inzamam-ul-Haq,ICC/PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,15
49,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,15
50,CP Mead,ENG,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,17
51,V Sehwag,ICC/IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,12
52,Abid Ali,PAK,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,2
53,V Kohli,IND,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,13
55,MJ Clarke,AUS,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,11
56,KC Bland,SA,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,5
57,B Mitchell,SA,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,20
58,Hon.FS Jackson,ENG,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,12
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,12
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,15
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,16
62,GC Smith,ICC/SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,10
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,8
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,6

In [ ]:
#calculations within data frame

In [ ]:
#what is the average career length

In [109]:
df['Career_length'].mean()

13.14516129032258

In [ ]:
#average batting striker for players above 10 years career length

In [115]:
df[df['Career_length']>10]['Strike_Rate'].mean()

47.95363636363636

In [ ]:
#find players who played before 1960

In [119]:
df[df['Rookie_Year']<1960]['Players'].count()

23

In [ ]:
#max highest inns score by country

In [126]:
df.groupby('Country')['Highest_InnsScore'].max().to_frame('Highest_InnsScore').reset_index().sort_values('Highest_InnsScore',ascending = False)

    Country  Highest_InnsScore
5    ICC/WI                400
0       AUS                380
10       SL                374
11       WI                365
1       ENG                364
3   ICC/PAK                329
2   ICC/IND                319
8       PAK                313
9        SA                278
4    ICC/SA                277
6       IND                254
7        NZ                251
12      ZIM                232

In [ ]:
#100s,50s,0s by country

In [128]:
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.250000   8.500000
ENG      12.307692  20.769231   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       17.000000  21.000000   5.500000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000